package ${rootPackageName}.${entityPackageName};

#if(${hasCreateTime} || ${hasUpdateTime})
import com.baomidou.mybatisplus.annotation.FieldFill;
#end
import com.baomidou.mybatisplus.annotation.IdType;
#if(${hasCreateTime} || ${hasUpdateTime})
import com.baomidou.mybatisplus.annotation.TableField;
#end
import com.baomidou.mybatisplus.annotation.TableId;
import lombok.Data;
#if(${hasBaseEntity})
import lombok.EqualsAndHashCode;
#end

import java.io.Serializable;
#if(${hasDate})
import java.util.Date;
#end


/**
* @author : ${author}
#if(${enableEmail})
* @email : ${email}
#end
* @datetime : ${datetime}
* @description : ${tableComment}表对象
*/
@Data
public class ${entityClassName}${entitySuffix} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach(${column} in ${columns})
    /**
     * ${column.columnComment}
     */
#if(${column.isKey})
    @TableId(type = IdType.${column.idType})
#end
#if(${column.isCreateTime})
    @TableField(fill = FieldFill.INSERT)
#end
#if(${column.isUpdateTime})
    @TableField(fill = FieldFill.INSERT_UPDATE)
#end
    private ${column.javaType} ${column.javaField};

#end
}