package ${packageName}.${moduleName}.${dtoPackageName}.${requestPackageName};

#if($swaggerSwitch)
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import java.io.Serializable;


/**
* @author : ${author}
* @date : ${date}
* @time : ${time}
* @Description : ${comment}新增请求对象
*/
@EqualsAndHashCode
@Data
@ToString
#if($swaggerSwitch)
@ApiModel(value = "${comment}新增请求对象")
#end
public class Add${entityClassName}${requestSuffix} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach(${column} in ${columnMap})
    @ApiModelProperty(value = "${column.columnComment}", name = "${column.javaField}"#if(${column.required}), required = true#end)
    #if(${column.javaType.equals("String")})
    #if(${column.columnComment.indexOf("（")} > 0)
    @NotEmpty("${column.columnComment.substring(0, ${column.columnComment.indexOf("（")})}不能为空")
    #elseif(${column.columnComment.indexOf("(")} > 0)
    @NotEmpty("${column.columnComment.substring(0, ${column.columnComment.indexOf("（")})}不能为空")
    #end
    #end
    private ${column.javaType} ${column.javaField};

#end
}