package ${rootPackageName}.${entityPackageName};

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;

import java.io.Serializable;
#if(${hasDate})
import java.util.Date;
#end


/**
* @author : ${author}
#if(${enableEmail})
* @email : ${email}
#end
* @datetime : ${datetime}
* @description : ${tableComment}表对象
*/
@EqualsAndHashCode
@Data
@ToString
public class ${entityClassName}${entitySuffix} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach(${column} in ${columns})
    /**
     * ${column.columnComment}
     */
#if(${column.isKey})
    @TableId(type = IdType.${column.idType})
#end
    private ${column.javaType} ${column.javaField};

#end
}