package ${packageName}.${moduleName}.${mapperPackageName};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.${moduleName}.${entityPackageName}.${entityClassName};

/**
* @author : ${author}
* @date : ${date}
* @time : ${time}
* @Description : ${comment}数据访问层
*/
public interface ${entityClassName}Mapper extends BaseMapper<${entityClassName}> {
}