package ${rootPackageName}.${modulePackageName}.${mapperPackageName};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${rootPackageName}.${modulePackageName}.${entityPackageName}.${entityClassName};

/**
* @author : ${author}
#if(${enableEmail})
* @email : ${email}
#end
* @datetime : ${datetime}
* @description : ${comment}数据访问层
*/
public interface ${entityClassName}Mapper extends BaseMapper<${entityClassName}> {
}