package ${rootPackageName}.${modulePackageName}.${mapperPackageName};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${rootPackageName}.${modulePackageName}.${entityPackageName}.${entityClassName}${entitySuffix};

/**
* @author : ${author}
#if(${enableEmail})
* @email : ${email}
#end
* @datetime : ${datetime}
* @description : ${tableComment}数据访问层
*/
public interface ${entityClassName}${mapperSuffix} extends BaseMapper<${entityClassName}${entitySuffix}> {
}