package ${rootPackageName}.${modulePackageName}.${servicePackageName};

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.IService;
import ${rootPackageName}.${modulePackageName}.${dtoPackageName}.${requestPackageName}.Add${entityClassName}${requestSuffix};
import ${rootPackageName}.${modulePackageName}.${dtoPackageName}.${requestPackageName}.Page${entityClassName}${requestSuffix};
import ${rootPackageName}.${modulePackageName}.${dtoPackageName}.${requestPackageName}.Update${entityClassName}${requestSuffix};
import ${rootPackageName}.${modulePackageName}.${dtoPackageName}.${responsePackageName}.${entityClassName}${responseSuffix};
import ${rootPackageName}.${modulePackageName}.${entityPackageName}.${entityClassName};

import java.util.List;


/**
* @author : ${author}
#if(${enableEmail})
* @email : ${email}
#end
* @datetime : ${datetime}
* @description : ${tableComment}业务层接口
*/
public interface ${entityClassName}Service extends IService<${entityClassName}> {

    /**
    * 分页查询${tableComment}
    * @param request
    * @return
    */
    IPage<${entityClassName}> page(Page${entityClassName}${requestSuffix} request);

    /**
    * 根据主键 id 查询${tableComment}详情
    * @param id
    * @return
    */
    ${entityClassName}${responseSuffix} detail(${idDataType} id);

    /**
    * 新增${tableComment}
    * @param request
    * @return
    */
    boolean save(Add${entityClassName}${requestSuffix} request);

    /**
    * 更新${tableComment}
    * @param request
    * @return
    */
    boolean update(Update${entityClassName}${requestSuffix} request);

    /**
    * 根据主键 id 删除${tableComment}
    * @param id
    * @return
    */
    boolean delete(${idDataType} id);

    /**
    * 根据主键 id 列表批量删除${tableComment}
    * @param ids
    * @return
    */
    boolean deleteBatch(List<${idDataType}> ids);
}
