<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cloud.mapper.FileStatusMapper">
    <resultMap id="fileStatusMap" type="com.github.cloud.entity.FileStatus">
        <result property="fileStatusId" column="file_status_id"></result>
        <result property="fileInfoId" column="file_info_id"></result>
        <result property="fileStatus" column="file_status"></result>
        <result property="chunks" column="chunks"></result>
        <result property="currentChunk" column="current_chunk"></result>
        <result property="downloadCount" column="download_count"></result>
    </resultMap>

    <sql id="sqlList">
        fileStatusId, fileInfoId, fileStatus, chunks, currentChunk, download_count    </sql>

    <delete id="deleteBatchByFileInfoId" parameterType="java.util.List">
        DELETE FROM
        file_status t
        WHERE t.file_info_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>